<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include('../partials/stylesheet'); %>
</head>

<body>

    <%- include('../partials/viewMessages'); %>

    <%- include('../partials/header'); %>

    <div class="container">

        <!-- Post card -->
        <div class="card">
            <div class="card-header">
                <h4><%= title %></h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <%postsList.forEach(function(post) { %>
                    <% var userPost = usersList.filter( x => { return x.id == post.user_id })[0] %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5><strong> <%= post.title %></strong>
                            </h5> <%= post.text %>
                        </div>
                        <div style="max-width: 200px; text-align: center; margin-bottom: -20px;">
                            <img class="card-img-top" src="<%= userPost.avatar %>" style="max-width: 75px;">
                            <p><span><a href="/profile/user/<%= userPost.id %>">@<%= userPost.userName %></a></span>
                                <br>
                                <span style="font-size: 12px;"><%= new Date(post.updatedAt).toLocaleString() %></span>
                            </p>
                        </div>
                    </li>
                    <% }); %>

                    <% if(postsList.length == 0){%>
                    <li class="list-group-item">-- No posts! --</li>
                    <%} %>
                </ul>
            </div>
        </div>

    </div>
       
    <%- include('../partials/javascript'); %>
    <%- include('../partials/footer'); %>
        
</body>
    

</html>